<html>
 <head>
  <style type="text/css">
    #canvas{
      border: 1px black solid;
    }
  </style>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js" type="text/javascript"></script>
  <script type="application/javascript">
    windowbox = {width:480, height:640};
    trigger = {x:5, y:550, width:470, height:2};
    FPS = 120.0;
    bpm = 100.0;
    bpms = bpm / 60.0 / 1000.0;
    yspeed = 6.0;
    xspeed = 8.0;
    canvas = null;
    ctx = null;
    startbeat = Date.now();
    
    var Key = {
      _pressed: {},
 
      LEFT: 37,
      UP: 38,
      RIGHT: 39,
      DOWN: 40,
      A: 65,
      S: 83,
      D: 68,
 
      isDown: function(keyCode) {
        return this._pressed[keyCode];
      },
 
      onKeydown: function(event) {
        this._pressed[event.keyCode] = true;
      },
 
      onKeyup: function(event) {
        delete this._pressed[event.keyCode];
      }
    };
        
    window.addEventListener('keyup', function(event) { Key.onKeyup(event); }, false);
    window.addEventListener('keydown', function(event) { Key.onKeydown(event); }, false);
 
    
    function init(){
      canvas = document.getElementById('canvas');
      ctx = canvas.getContext('2d');
      background();
      setInterval(draw, 1000 / FPS);
      startbeat = Date.now();
    }
    
    function background(){
      ctx.fillStyle = "rgba(0, 0, 0, 0.5)";
      ctx.fillRect (trigger.x, trigger.y, trigger.width, trigger.height);
    }
    
    function beatbars(timetilbeat){
      ctx.fillStyle = "rgba(255, 0, 0, 1.0)";
      var ydistance_between_beats = (1/bpms)/yspeed;
      var xdistance_between_beats = (1/bpms)/xspeed;
      var y = trigger.y - ydistance_between_beats + timetilbeat/yspeed;
      var x = trigger.x - xdistance_between_beats + timetilbeat/xspeed;
      while(y>0){
        ctx.fillRect(trigger.x-x/2, y, trigger.width+x, trigger.height+5 + x/60.0);
        y -= ydistance_between_beats;
        x -= xdistance_between_beats;
      }
    }
    
    function keys(){
      //if (Key.isDown(Key.UP)){
      //  this.moveUp();
      //}
      if (Key.isDown(Key.A)){
        ctx.fillStyle = "rgba(255, 0, 0, 1.0)";
        ctx.fillRect(0, trigger.y, windowbox.width/3, windowbox.height-trigger.y);
      }
      if (Key.isDown(Key.S)){
        ctx.fillStyle = "rgba(0, 255, 0, 1.0)";
        ctx.fillRect(windowbox.width/3, trigger.y, windowbox.width/3, windowbox.height-trigger.y);
      }
      if (Key.isDown(Key.D)){
        ctx.fillStyle = "rgba(0, 0, 255, 1.0)";
        ctx.fillRect(windowbox.width/3*2, trigger.y, windowbox.width/3, windowbox.height-trigger.y);
      }
    }
    
    function draw() {
      timeInMs = Date.now();
      canvas = document.getElementById("canvas");
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      background();
      timefromstart = Date.now() - startbeat;
      timetilbeat = timefromstart % (1/bpms);
      beatbars(timetilbeat);
      keys();
    }
  </script>
 </head>
 <body onload="init();">
  <canvas id="canvas" width="480" height="640"></canvas>
  <div id="data">
  <p id="variable"></p>
  </div>
 </body>
</html>
